HOST=0.0.0.0
PORT=1337
APP_KEYS=toChange1,toChange2,toChange3,toChange4
API_TOKEN_SALT=toChangeApiTokenSalt
ADMIN_JWT_SECRET=toChangeAdminJwtSecret
TRANSFER_TOKEN_SALT=toChangeTransferTokenSalt
JWT_SECRET=toChangeJwtSecret
